.navbar{
    box-shadow: 0px 10px 13px -7px gray;
    background-image: url("Banner Pep.png");
    background-position: 100%;
    background-size: 100%;
}

#toplogo {
   
    box-shadow: 0px 10px 13px -7px #5cb85c;
    border-radius: 80%;
    background-color: rgb(255, 255, 255)
    
}

#form{
    box-shadow: -7px 5px 10px -2px #5cb85c;
}

.form-control{
    border: none !important;
    border-bottom: 1px solid #5cb85c !important;
    border-radius: 0% !important;
}
























.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }